@page "/Aoyis"
<h3>AoyiPage</h3>

<Table TItem="Aoyi" ShowLineNo="true" IsPagination="true" PageItemsSource="@PageItemsSource"
	   IsStriped="true" IsBordered="true" ShowSkeleton="true" IsMultipleSelect="true"
	   ShowToolbar="true" ShowSearch="true" ShowExtendButtons="true"
	   UseInjectDataService="true" AutoGenerateColumns="true">

	<DetailRowTemplate>
        <Table TItem="AoyiCondition" IsBordered="true" ShowToolbar="false" Items="@context.AoyiConditions" AutoGenerateColumns=true>
        </Table>
</DetailRowTemplate>
</Table>
@code{
	
}
