@page "/AoyiPage"
<h3>AoyiPage</h3>

<Table TItem="Aoyi" ShowLineNo="true" IsPagination="true" PageItemsSource="@PageItemsSource"
	   IsStriped="true" IsBordered="true" ShowSkeleton="true" IsMultipleSelect="true"
	   ShowToolbar="true" ShowSearch="true" ShowExtendButtons="true"
	   UseInjectDataService="true" AutoGenerateColumns="true">

	<DetailRowTemplate>
		@*<div>奥义条件: @typeof(EnumEducation).ToDescriptionString(context.AoyiConditions.Count.ToString())</div>*@
		<Table TItem="AoyiCondition" IsBordered="true" ShowToolbar="false" Items="@context.AoyiConditions" AutoGenerateColumns=true>
		</Table>
	</DetailRowTemplate>
</Table>
